.base-button {
  border: 1px solid #000000;
  background-color: #E5E6E5;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  padding: 10px 28px;
  color: black;
}

.answer-button {
  font-size: 14px;
  font-weight: 500;
  padding: 4px;
  border-radius: 6px;
  min-width: 150px;
  margin: 12px 0;
  width: 40%;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: black;
    color: white;
  }

  &:nth-child(2n) {
    float: right;
  }
}

.is-answer {
  background-color: white;
  color: black;
}

.next-button {
  font-size: 18px;
  font-weight: 500;
}
