.app-container {
  border: 5px solid #EDEDED;
  display: flex;
  flex-direction: column;
  height: 650px;
  margin: 50px auto;
  min-width: 600px;
  width: 50%;
}

.quiz-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 40px 60px;
  text-align: left;
}

.quiz-score {
  color: #2466b7;
  flex-grow: 1;
  font-size: 24px;
  font-weight: 500;
  padding: 40px;
  text-align: center;
}